In [2]:
from SRC.stage_00_DataIngestion import DataIngestion
from SRC.stage_01_data_transformation import Load_and_transform

In [3]:
DataIngestion()

Data Injection Started
Downloading the data
Data downloaded successfully
Reading the data
Raw data file is : /home/pk/Desktop/Eda/Algerian_forest_fires_dataset/Artifacts/RAW_DATA/Algerian_forest_fires_dataset_UPDATE.csv
Dataframe created successfully
as there is same empty space in column name we will strip it
Columns names are : ['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes']
Data dropped successfully
Dropping the column name in Sidi-Bel Abbes Region Dataset
Data type changed for column :  day object to int32
Data type changed for column :  month object to int32
Data type changed for column :  year object to int32
Data type changed for column : Temperature  object to int32
Data type changed for column :  RH object to int32
Data type changed for column :  Wind_speed object to int32
Data type changed for column :  Rain object to int32
Data type changed for column :  FFMC object to int32
Data type changed for column :  DMC object to int32
Data type changed for column :  DC object to int32 as there is a empty space in the value we replace
Data type changed for column :  ISI object to int32
Data type changed for column :  BUI object to int32
Data type changed for column :  FWI object to int32
for fire columns we have a value which is fire so we will replace it with Nan167    fire
Name: FWI, dtype: object
Lets split the data into different  region and create a two data frame and add the region indicator
Region1 is : Bejaia Region Dataset
Region2 is : Sidi-Bel Abbes Region Dataset
Saving the data to the file : /home/pk/Desktop/Eda/Algerian_forest_fires_dataset/Artifacts/PREPROCESSING_DATA/PREPROCESSING_DATA.csv
Data Injection Completed
Data Injected successfully into the database ALGERIAN_FOREST_FIRES , collection PREPROCESSING_DATA
Memory usage decreased from 0.05MB to 0.01MB (0.03MB, 71.70% reduction)
Dataframe reduced successfully
Data farme has 2 null values in the same line , the Reason is because the value was entered in the
Dataframe shape is : (243, 15)
We will standardize the  classes as "No Fire" if not in x.lower() else "Fire"
Data splitted successfully
Train set shape is : (194, 15)
Test set shape is : (49, 15)
Test data saved successfully
Train data saved successfully
Data Injected successfully into the database ALGERIAN_FOREST_FIRES , collection TRAIN_DATA
Data Injected successfully into the database ALGERIAN_FOREST_FIRES , collection TEST_DATA

True

In [4]:
Load_and_transform()

Loading Raw_data from MongoDB
Dropped Collection : PROCEEDED_DATA
Reading the data from the database
Dataframe created successfully
Loaded Raw_data from MongoDB as Dataframe
Memory usage decreased from 0.05MB to 0.01MB (0.04MB, 80.21% reduction)
Dropped columns : 'month' , 'year' , 'day' from Dataframe , as they are not significant
Converted categorical columns to numerical columns
Scaled Dataframe
Saved scaler as pickle file/home/pk/Desktop/Eda/Algerian_forest_fires_dataset/Artifacts/SCALER_DIR
Imputed Dataframe
Saved imputer as pickle file/home/pk/Desktop/Eda/Algerian_forest_fires_dataset/Artifacts/IMPUTER_DIR
Clipped Rain column
Saved processed data as csv file in /home/pk/Desktop/Eda/Algerian_forest_fires_dataset/Artifacts/PROCEEDED_DATA
Inserted processed data into MongoDB PROCEEDED_DATA

True